/** place this in your custom css */

/*  ============================================================================================
    ********************************************************************************************
        LIBRARY ALERT
    ********************************************************************************************
*/
/* Allow an alert to be displayed */

div.ust-library-alert {
	width: 100%;
	display: block;
    border: 1px solid red;
    background: red;
	color: white;
}

div.ust-library-alert div {
	width: 100%;
	max-width: 850px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 10px 10px 10px;
}

div.ust-library-alert a {
	text-decoration: underline;
	font-weight: bold;
}

div.ust-library-alert.help,
div.ust-library-alert.informational {
	color: #004785;
	background-color: #BDE5F8;
	border-color: #004785;
}

div.ust-library-alert.normal,
div.ust-library-alert.success {
	color: #005C00;
	background-color: #DFF2BF;
	border-color: #005C00;
}

div.ust-library-alert.advisory,
div.ust-library-alert.warning {
	color: #754500;
	background-color: #FEEFB3;
	border-color: #754500;
}

div.ust-library-alert.critical,
div.ust-library-alert.error {
	color: #650000;
	background-color: #FFBBBB;
	border-color: #650000;
}